*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  inline-size: 1140px;
  block-size: 534px;

  display: flex;
  gap: 0 30px;
}

.result {
  align-self: flex-end;
}

.result__video-container {
  position: relative;
  margin-bottom: 11px;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: inherit;
  margin-bottom: 5px;
}

.search-form__label {
  display: flex;
  gap: 5px;
  align-items: center;
}

.search-form__textfield {
  appearance: none;
  width: 225px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-left: none;
  border-right: none;
  padding: 2.5px 0;
  font-family: inherit;
  font-size: inherit;
  color: rgba(255, 255, 255, 0.7);
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.button {
  font-weight: 700;
  background-color: transparent;
  border: 1px solid #fff;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  height: 34px;
  padding: 0;
}

.search-form__submit-button {
  align-self: flex-end;
  flex-grow: 1;
}

.content__details {
  flex-grow: 1;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  margin-bottom: 23px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow: auto;
  padding: 2px;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  padding: 2px;
  display: flex;
  justify-content: space-between;
}

.content__video-card-description-container {
  max-width: calc(399px - 2 * 2px - 194px - 2px);
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 6px;
  overflow-wrap: break-word;
}

.content__video-card-description {
  line-height: 0.9;
  overflow-wrap: break-word;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
}

/* Search form text field */

/* Hover */

/* Active */

.search-form__textfield:active {
  border: 1px solid #fff;
  outline: none;
}

/* Focus */

.search-form__textfield:focus {
  outline: none;
}

/* .search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
} */

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Search form checkboxes */

/* Hover */

.search-form__label:hover {
  cursor: pointer;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

/* Active + checked */

.search-form__label:active .search-form__label-text {
  text-decoration: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox,
.search-form__label:active .search-form__pseudo-checkbox {
  border: none;
  background-color: #fff;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after,
.search-form__label:active .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  width: 17px;
  height: 17px;
  border: 1px solid #1b1919;
  margin: 1px;
}

/* Focus */

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Button */

/* Hover */

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Active */

.button:active {
  background-color: #545050;
  text-decoration: none;
}

/* Focus */

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

/* Cards states styles */

/* Hover */

.content__card-link:hover .content__video-card-title {
  text-decoration: underline 2px;
  text-underline-offset: 5px;
}

.content__card-link:hover .content__video-card-description {
  text-decoration: underline 1px;
  text-underline-offset: 3px;
}

/* Active */

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:active .content__video-card-title,
.content__card-link:active .content__video-card-description {
  text-decoration: none;
}

/* Focus */

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}
